<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            color: dimgray;
        }
        .container{
            border: 2px solid gray;
        }
    </style>
</head>
<body>

        <a href="{% url 'create_entry' %}">Create New Entry</a>

        {% for one_entry in entries %}
            <div class="container">
        <h2>{{one_entry.entry_title }}</h2>
        <p>{{ one_entry.entry_body }}</p>
        <h4>{{ one_entry.entry_date }}</h4>
        <a href="{% url 'edit_entry' one_entry.pk %}">Edit Entry</a>
        <a href="{% url 'delete_entry' one_entry.pk%}">Delete Entry</a>
                </div>
        {% endfor %}



</body>
</html>